<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">

    <%= form_for @user do |f| %>

    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>

    <%= f.label :username %><br>
    <%= f.text_field :username %><br>

    <%= f.label :password %><br>
    <%= f.text_field :password %><br>

    <%= f.label :avatar_url %><br>
    <%= f.text_field :avatar_url %><br>

    <%= f.label :email %><br>
    <%= f.text_field :email %><br>

    <%= f.label :about %><br>
    <%= f.text_area :about %><br>

    <%= f.label :cover_letter %><br>
    <%= f.text_area :cover_letter %><br>

    <%= f.label :city %><br>
    <%= f.text_field :city %><br>

    <%= f.label :state %><br>
    <%= f.text_field :state %><br>

    <%= f.label :quote %>
    <%= f.text_field :quote %>

    <%= f.submit %><br>
    <% end %>
  </div>
  <div class="col-md-5">
  </div>
  <div class="col-md-1">
  </div>
</div>
