<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <img class="user-show-avatar" src="<%= @user.avatar_url %>" alt="">
    <h1><%= @user.username %></h1>
    <p>Email: <%= @user.email %></p>
    <p>City: <%= @user.city %></p>
    <p>State: <%= @user.state %></p>
    <% if current_user.id == @user.id %>
    	<small> <%= link_to "Edit Your Profile", edit_user_path(@user) %> </small>
    <% end %>

  </div>
  <div class="col-md-4">
    <h3 class="grey-back-header">About: </h3>
    <p><%= @user.about %></p>
    <h3 class="grey-back-header">Cover Letter: </h3>
    <p><%= @user.cover_letter %></p>

  </div>

  <div class="col-md-3">

    <h3 class="grey-back-header">All Skills</h3>
    <%= render partial: "skills/skill", collection: @user.skills %><br>

    <% if @user.id == current_user.id %>
    <h3 class="grey-back-header">Add a Skill</h3>
    <%= render partial: "skills/form" %>
    <% end %><br>


    <h3 class="grey-back-header">Friends</h3>
<ul>
  <% for user in @user.friends %>
  <li>
  	<%= link_to user.username, user_path(user) %>
  	(<%= link_to "remove", :friendship, :method => :delete %>)
  </li>
  <% end %>

  <div class="user">
    <p>
      <%= link_to "Add #{@user.username} to Friends", friendships_path(:friend_id => @user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
</ul>

    <br/>
  </div>
  <div class="col-md-1">
  </div>
</div>
