Name: <%= @user.username %>
Email: <%= @user.email %>
About: <%= @user.about %>
Cover Letter: <%= @user.cover_letter %>
City: <%= @user.city %>
State: <%= @user.state %>

<% if @user.id == current_user.id %>
  <h4>Create a Skill</h4>
  <%= render partial: "skills/form" %>
<% end %>

<h2>Friends</h2>
<ul>
  <% for user in @user.friends %>
  <li>
  	<%= user.username %>
  	(<%= link_to "remove", :friendship, :method => :delete %>)
  </li>
  <% end %>
</ul>

<br/>
<h4>All Skills</h4>
<%= render partial: "skills/skill", collection: @user.skills %>

  <div class="user">
    <p>
      <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>

<small> <%= link_to "Edit", user_path(@user) %> </small>