Name: <%= @user.username %>
Email: <%= @user.email %>
About: <%= @user.about %>
Cover Letter: <%= @user.cover_letter %>
City: <%= @user.city %>
State: <%= @user.state %>

<% if @user.id == current_user.id %>
  <h4>Create a Skill</h4>
  <%= render partial: "skills/form" %>
<% end %>

<h4>Friends</h4>
<% @user.friends do |friend| %>
  <p><%= friend.username %></p>
<% end %>

<br/>
<h4>All Skills</h4>
<%= render partial: "skills/skill", collection: @user.skills %>

<% if Friendship.where("friend_id = ? OR user_id = ?", current_user.id, @user.id) %>
	<%= link_to "Add Friend", new_user_friendship_path(@user) %>
<% else %>
	<p>Friend added!</p>
<% end %>

<small> <%= link_to "Edit", user_path(@user) %> </small>