<!DOCTYPE html>
<html>
<head>
  <title>Want2code</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">laptop_chromebook</i>Want2Code</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="#">Stuff</a></li>
        <li><a href="#">Things</a></li>
        <li><a href="#">Items</a></li>

        <% if !logged_in? %>
          <a href='/login' class="waves-effect waves-light btn-large"><i class="material-icons right">account_box</i>Login</a>
        <% else %>
          <a href="/logout" class="waves-effect waves-light btn-large" data-method='delete'><i class="material-icons right">exit_to_app</i>Logout</a>
        <% end %>

      </ul>
    </div>
  </nav>






  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
  <% end %>
  <%= yield %>
</body>
</html>
